<section class="container">
  <div class="row">
        <figure class="col-sm-6">
    ...
    </figure>
    <figure class="col-sm-6">
    ...
    </figure>
  </div>
  <div class="row"> 
    <figure class="col-sm-6">
      <p>kitchen</p>
      <img src="https://content.codecademy.com/projects/make-a-website/lesson-4/kitchen.jpg" alt="Girl in a jacket"> 

      <p>woodwork</p>
      <img src="https://content.codecademy.com/projects/make-a-website/lesson-4/kitchen.jpg" alt="Girl in a jacket">    
    </figure>
    <figure class="col-sm-6">
      <p>gifts</p>
      <img src="https://content.codecademy.com/projects/make-a-website/lesson-4/gifts.jpg" alt="Girl in a jacket"> 

      <p>antiques</p>
      <img src="https://content.codecademy.com/projects/make-a-website/lesson-4/antique.jpg" alt="Girl in a jacket">
    </figure>
  </div>
</section>